@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">King-Customized-Jwt-ASP.NET CORE MVC (DIY)</h1>
    <p>
        A lightweight, DIY JWT Authentication system built for ASP.NET Core using cookies — no Identity, no bloat, just clean and secure token handling.
    </p>
    <a href="https://github.com/eghbaldar/King-Jwt-Authentication-Athorization">https://github.com/eghbaldar/King-Jwt-Authentication-Athorization</a>
</div>
<br/>
@await Component.InvokeAsync("ShowUsersInformation")
<br/>
@await Component.InvokeAsync("ShowUsersInformation_king")